
<ng-container *ngIf="game" class="game">
  <div class="game">
    <div class="game-thumb-container">
      <img *ngIf="gameArt" [src]="gameArt" alt="thumbnail"
           class="game-thumbnail"/>
      <p *ngIf="!gameArt">No image</p>
    </div>
    <div class="game-description">
      <p class="game-name">{{ gameName }}</p>
      <div class="game-platforms">
        <img class="img-thumbnail" src="{{gamePlatform}}" />&nbsp;
        <p class="game-type">{{gameType}}</p>
        <p class="game-rating">{{gameRating}}</p>
      </div>
    </div>
    <button id="{{id}}" (click)="addToFavorite(this.id)" name="favorite" [ngStyle]="{'color':!isFavorite === gameFav ? 'golden' : 'crimson' }" class="like">&#10084;</button>
  </div>
  <div class="button-holder">
    <button  type= "button" [routerLink]="['/modif', id]" class="button-edit btn btn-warning">M</button>
    <button  type="button" class="button-edit btn btn-danger" (click)="suppr()">X</button>
    <button  type="button" class="button-edit btn btn-success" (click)="openDialog()">Full Story</button>
  </div>
</ng-container>

