<div id="search">
<input type="text" class="searchBox" placeholder="Recherche par mot clé" [(ngModel)]="filterTerm">
<label  *ngIf="games | filter: filterTerm as filtered">
  &nbsp;&nbsp;{{filtered.length}} Game(s)</label>
  </div>
  <div class="container"
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start">
<ng-container *ngIf="games">
  <app-game
    fxFlex="0 1 calc(33.3% - 32px)"
    fxFlex.lt-md="0 1 calc(50% - 32px)"
    fxFlex.lt-sm="100%"
    *ngFor="let game of games |filter: filterTerm"
            [id]="game.id"
            [gameName]="game.title"
            [gameType] = "game.type"
            [gameEditor]="game.editor"
            [gameDev] = "game.developer"
            [gamePlatform] ="game.platform"
            [gameArt]="game.artwork"
            [gameReleaseDate]="game.releaseDate"
            [gameOst]="game.ost"
            [gameDescription]="game.description"
            [gamePlaytime]="game?.playtime"
            [gameRanking]="game.ranking"
            [gameFav]="game.favorite"
            >
  </app-game>
</ng-container>
  </div>
