<div class="form">
  <div class="row change" *ngIf="change">
    <div class="col-12">
      Changes have beeen registered!
    </div>
  </div>
  <div *ngIf="game">
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Game title</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.title">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Game type</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.type">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Editor</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.editor">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Developer</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.developer">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Composer</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.ost">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Artwork</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.artwork">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Platform</label> <br>
          <input type="text" class="form-control" [(ngModel)]="game.platform">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Release date</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.releaseDate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>game lifespan</label> <br>
          <input type="text" class="form-control" [(ngModel)]="game.playtime">
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label>Rating</label><br>
          <input type="text" class="form-control" [(ngModel)]="game.rating">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="form-group row">
          <label class="col-12 col-form-label">
            Add to favorite?
          </label>
          <div class="col-12 row">
            <div class="col-6">
              <div class="form-check">
                <input type="radio" name="favorite" class="form-check-input" [value]="true" [(ngModel)]="game.favorite"> <label class="form-check-label">Best game</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-check">
                <input type="radio" name="favorite" class="form-check-input" [value]="false" [(ngModel)]="game.favorite"> <label class="form-check-label">Good game</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label>Story</label><br>
          <textarea name="synopsis" cols="30" rows="10" class="form-control" [(ngModel)]="game.description"></textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="submit">
          <button class="btn btn-outline-success" (click)="modif()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
